.gradle
.idea
.DS_Store
/build
/local.properties
/settings.gradle
/captures
*.iml
/app/build
/butterknife/build
/customview/build
/fresco/build
/materialdesign/build
/mvp/build
/realm/build
/retrofit/build